.commtime {

margin-left:10px;
    
}

.huifu{
float:right;
right:0px;
}

.red{
color:#e33814;
}
.pagination ul li{

 float:left;
 margin:5px;
 display:block;
 }

 .active a{
 background-color:#0077b5;

 }

 .tags{
 margin:0 5px;
 color: #4fc08d;

 }