{% extends 'index.html' %}


{% block page-banner %}
{% endblock %}

{% block page-container %}
<script src="/static/ckeditor/ckeditor.js"></script>

<div class="content bg-grday">
    <div class="container">
        {{err}}
        <h2 class="title">添加文章</h2>
        <form method="POST" action="{% url 'addart' %}" accept-charset="UTF-8" enctype="multipart/form-data">
                {% csrf_token %}
            <fieldset>
                <div id="field_name" class="form-group">
                    <label for="name" class="form-control-label">Title</label>
                <div class="controls">
                    <input  placeholder="Title"  name="title" class="form-control" type="text">
                </div>
                    <span style="color:#ef4315">{{ errs.title }}</span>
                </div>

                <div id="field_name" class="form-group">
                    <label for="name" class="form-control-label">栏目</label>
                <div class="controls">
                        <select name="categroy_id" class="btn btn-secondary btn-file">
                            {% for lanmu in category %}
                            <option value="{{lanmu.id}}">{{lanmu.name}}</option>
                            {% endfor %}

                        </select>

                </div>
                </div>


                <div class="form-group">
                    <label class="form-control-label">缩略图</label>
                    <span role="img" class="account-company__avatar " style="background-image: url(&quot;&quot;);"></span>
                    <div>

                        <label class="btn btn-secondary btn-file">
                            <i class="fa fa-image"></i>Select Pic<input name="head_img"  type="file">
                        </label>
                        <span style="color:#ef4315">{{ errs.head_img }}</span>
                    </div>
                </div>
                <div id="field_description" class="form-group">
                    <div class="controls">
                        <textarea id="description" name="content" cols="50" rows="10" class="form-control"></textarea>
                    </div>
                    <script>
                        CKEDITOR.replace('content');
                    </script>
                    <span style="color:#ef4315">{{ errs.content }}</span>
                </div>
            </fieldset>
            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-success">
              <!-- <button class="btn btn-success"><i class="fa fa-arrow-right"></i>Next step</button>-->
            </div>
        </form>
    </div>
</div>

{% endblock %}




{% block page-right %}
{% endblock %}