{% extends 'index.html' %}

{% load custom_tags %}

{% block page-seo %}

<title>{{ article.title }}</title>
<meta name="keywords" content="{{ article.keywords }}" />
<meta name="description" content="{{article.description}}" />



{% endblock %}


{% block page-banner %}
<!--
<div class="job__header">
    <div class="container">
    <div class="job__fixed-top">
        <a href="/" class="btn btn-sm job__view-all" style="letter-spacing: 0px;">← Back to Home</a>
    </div>
        <div class="row">
            <div class="main d-flex align-items-center">
                <div class="job__heading mr-4">
                    <div class="job__avatar">
                        <img src="/storage/avatars/YaZAjtCpbwfG8eB2Ev0fxko1bNeSNq3keN4wV57L.png" alt="Logo of Capsule8" class="rounded">
                    </div>
                </div>
                <div class="job__head">
                    <h1 class="job__title displayd-4 mb-1">Front-end Engineer</h1>
                    <span class="text-muted">at</span>
                    <span class="job__company font-weight-bold">Capsule8</span>
    - <a target="_blank" href="http://www.capsule8.com" class="job__website text-success small">
                    <i class="fa fa-external-link"></i> Visit company website</a>
                </div>
            </div>
            <div class="sidebar mt-3 mb-3 m-lg-0 p-2 bg-gray-light rounded">
                <div class="main-carbon"></div>
                <div id="advertisement" class="sidebar-box">
    <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&amp;serve=C6AILKT&amp;placement=vuejobscom" id="_carbonads_js"></script>
                    <div id="carbonads">
                        <span><span class="carbon-wrap">
                            <a href="https://changelly.com?ref_id=9066aff83115" class="carbon-img" target="_blank" rel="noopener">
                                <img src="//fallbacks.carbonads.com/nosvn/fallbacks/f9da3e004ac861938e5d51aae7a31da9.png" alt="" style="max-width: 130px;" border="0" width="130" height="100">
                            </a>
                            <a href="https://changelly.com?ref_id=9066aff83115" class="carbon-text" target="_blank" rel="noopener">
                                Changelly - Exchange cryptocurrency at the best rate
                            </a>
                        </span>
                        </span>
                    </div>
</div></div></div></div>
</div>
-->

{% endblock %}
{% block page-art-fujia %}

<div class="bg-gray">
    <div class="container">
        <div class="job-info">
            <div class="d-flex flex-column flex-md-row justify-content-start align-items-centder">
                <div class="job-info__block job__location">
                    <div>作者</div>
                    <span>{{ author.name }}</span>
                </div>

                <div class="job-info__block job__posted-at">
                    <div>Posted</div>
                    <span>{{article.publish_date}}</span>
                </div>
                <div class="job-info__block job__posted-at">
                    <div>&nbsp;</div>
                    <span>浏览:{{ article.pv }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page-container %}
<div class="main pt-3">
    <div class="job__desc mt-4">

        <h2 class="title">{{article.title}}</h2>

        <div>
            {% autoescape off %}
            {{article.content}}
            {% endautoescape %}
        </div>
        <br>
        {% if keywords %}
        <label>标签：</label>
        {% for keyword in keywords %}
        <a href="/tags/{{keyword}}" class="tags">{{ keyword }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <div class="job__desc mt-4" id="comment">
        <hr>

        <div class="mt-5">
            <h5 class="title">相关推荐</h5>

            <div id="job-search" class="positions">

                <div class="positions__search mb-3">
                    <form action="{% url 'searchart' %}"  method="post" class="d-flex justify-content-between flex-column flex-md-row align-items-end bg-gray p-3 rounded">
                        <div class="form-group w-60 mb-1 mb-md-0 mr-md-3">
                                                    {% csrf_token %}
                            <input name="keyword" placeholder="输入您要搜索的内容" class="form-control form-control-sm" type="text">
                        </div>
                        <div class="form-button">
                            <input type="submit" class="btn btn-sm btn-danger" value="Search">
                        </div>
                    </form>
                </div>
                <div class="positions__list">
                    <div class="positions__empty" style="display: none;">
                        <p class="lead mt-3">Whooops! Your search filters did not match any records.</p>
                        <button class="btn btn-success btn-sm">Reset your search</button>
                    </div>
          {% for art in like_arts %}

                    <a  href="{% url 'article' art.id %}" class="position">
                        <div class="d-flex align-items-center">
                            <div class="position__company text-center">
                                <div class="position__company__acronym">RI</div>
                            </div>
                            <div class="position__info w-100">
                                <div class="d-flex justify-content-between align-items-center" style="position: relative;">


                                    <div class="position__title">
                                        <span class="font-weight-bold">{{ art.title }}</span>
                                       <!-- <div class="position__location">
                                            <span class="small"> <strong></strong></span>,
                                            <span class="small text-capitalize"></span>
                                        </div> -->

                                    </div>
                                    <div class="hidden-xs-down position__apply font-weight-bold" style="z-index: 1000;">
                                        <div class="position__published_at font-weight-normal">{{art.publish_date}}</div>
                                        <span class="btn btn-danger btn-sm">View now!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                   {% endfor %}

                </div> <!---->
                <div class="mt-3">
                    <a href="https://www.ziprecruiter.co.uk/jobs" id="jobs_widget_link">
                        <span id="zr_logo_container">Jobs provided by
                                <img id="zr_logo" src="https://www.ziprecruiter.co.uk/img/logos/logo-sm-black-304px.png" alt="ZipRecruiter" width="90"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="sk-three-bounce" style="">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
        <hr>
        <div class="red">{{errs}}</div>
        <div>
            <form action="{% url 'article' article.id %}" method="post" name="">
                {% csrf_token %}
                <input type="hidden" name="fatherid" id="fatherid" value="">
                {% if request.user.is_authenticated %}
                <textarea    placeholder="添加回复" name="comment" class="form-control form-control-lg" ></textarea>

                <input class="btn btn-success" style="margin-top:10px;" type="submit" value="发表回复">
                {% else %}

                <textarea    disabled="disabled"     placeholder="登录后添加回复" name="comment" class="form-control form-control-lg" ></textarea>

                <input disabled="disabled"  class="btn btn-success" style="margin-top:10px;" type="submit" value="发表回复">


                {% endif %}



            </form>


        </div>

    </div>


    <div class="job__desc mt-4">
        <label>查看评论（已有{{ sum_com }}人吐槽）</label>
        {% build_comment_tree article.comment_set.select_related %}
    </div>

    <script LANGUAGE="JavaScript">
        function set(id){
        if(id != 'None'){
            $("#fatherid").val(id);
        }else{
            $("#fatherid").val("");
        }
        }

    </script>

</div>


{% endblock %}

{% block page-right %}


<div class="sidebar__row job__interest bg-gray">
    <a  href="mailto:join@regily.com"
        class="btn btn-block btn-danger">Apply now!</a>
    <hr>
    <h5>热门新闻</h5>
    <div>Make sure you have read the <a href="#how-to-apply" class="font-italic">How to Apply</a>
        section.
        {% for tag in tags %}

        <a href="/tags/{{ tag.tagname }}" class="tags">{{ tag.tagname }}</a>
        {% endfor %}
    </div>
</div>

<div class="sidebar__row job__share">
    <div class="share share--list">
        <h3>最新文章</h3>

        <div class="social-links d-flex flex-column">

                {% for art in last_list %}

                 <a href="{% url 'article' art.id %}" class="social-link social-google" target="_blank">
                      <i class="fa fa-fw fa-facebook"></i>{{art.title}}
                 </a>

                {% endfor %}

        </div>

    </div>
</div>






<div class="sidebar__row job__newsletter">
    <h3>Vue.js resources</h3>
    <ul class="list-unstyled">
        <li><a target="_blank" href="https://vuejsfeed.com/">Vue.js Feed</a></li>
        <li><a target="_blank" href="https://vue.threadless.com/">The Vue Shop</a></li>
    </ul>
</div>


{% endblock %}